html, body {
    margin: 0;
    height: 100%;
}
body {
    background: radial-gradient(rgba(240,248,255,1), rgb(199,165,199));
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1;
    min-height: 100%;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.cabecera {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 1.5em;
    text-align: center;
    background: fixed;
    background-color: yellowgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.logo {
    display: block;
    margin: 10px auto;
    max-width: 8%; /* Ajusta este valor para hacer la imagen más pequeña */
    height: auto; /* Mantén la proporción de la imagen */
    border-radius: 10px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: aliceblue;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
}

.dropdown-content a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    border-radius: 8px;
}

.dropdown-content a:hover {background-color: #808a65}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropbtn {
    background-color: lemonchiffon;
    border: 1px solid skyblue;
    
}

.dropdown-container {
    text-align: center;
    margin-top: 10px;
}

.dropdown-container .dropdown {
    margin: 0 10px;
}


.contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los elementos dentro del contenedor */
    margin-top: 20px;
}

.imagen_producto {
    max-width: 100%; /* Ajusta el tamaño máximo al 100% del contenedor */
   /* height: 100px; /* Ajusta la altura deseada */
    width: 200px;
    object-fit: cover; /* Mantiene la proporción de la imagen y la recorta si es necesario */
    padding-bottom: 3px;
}

.card {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Hace que todas las tarjetas tengan la misma altura */
    border: 1px solid #ccc; 
    border-radius: 8px; 
    overflow: hidden; /* Evita que el contenido desborde */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.card :hover {
    background-color: #3e8e41;
}
.card-body {
    flex-grow: 1; /* Hace que el cuerpo de la tarjeta ocupe el espacio disponible */
    padding: 15px; /* Añade espaciado interno al cuerpo de la tarjeta */
}

.button-resetall {
    font-size: .8em;
    background-color: lemonchiffon;
    border: 1px solid skyblue; /* Cambié border-bottom a border */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 2em;
    border-radius: 8px;
    padding-top: 3px;
    padding-bottom: 3px; /* Añadí padding-bottom para equilibrar el padding */
    padding-left: 10px;  /* Añadí padding-left para dar espacio lateral */
    padding-right: 10px; /* Añadí padding-right para dar espacio lateral */
    color: black; /* Añadí color para el texto */
    display: inline-block; /* Añadí display para que el padding funcione correctamente */
}

.button-resetall:hover {
    background-color: #367b39; /* Color de fondo más oscuro al pasar el ratón */
    box-shadow: 0px 12px 24px 0px rgba(0,0,0,0.3); /* Sombra más grande */
    color: black; /* Asegúrate de que el color del texto se mantenga blanco */
    text-decoration: none; /* Asegúrate de que no haya subrayado */
}